<main class="w-screen h-[92vh] text-center flex flex-col justify-start items-center p-8">
    <h1 class="text-4xl text-opuest-one">Versiculos</h1>
    <article class="cardsSect w-full flex gap-5 flex-wrap p-5 justify-center items-center quotes-wall shrink-0">
  <%-include("../ui/cards/quote.ejs", { text:`"La fe es la certeza de lo que se espera, la convicción de lo que no se ve" - Hebreos 11:1`, extraClass: "quote1" }) %>
  <%-include("../ui/cards/quote.ejs", { text:`"Todo lo puedo en Cristo que me fortalece." - Filipenses 4:13`, extraClass: "quote2" }) %>
  <%-include("../ui/cards/quote.ejs", { text:`"El Señor es mi pastor, nada me faltará." - Salmo 23:1`, extraClass: "quote3" }) %>
  <%-include("../ui/cards/quote.ejs", { text:`"El que habita al abrigo del Altísimo morará bajo la sombra del Omnipotente." - Salmo 91:1`, extraClass: "quote6" }) %>
  <%-include("../ui/cards/quote.ejs", { text:`"No temas, porque yo estoy contigo; no desmayes, porque yo soy tu Dios que te esfuerzo." - Isaías 41:10`, extraClass: "quote7" }) %>
  <%-include("../ui/cards/quote.ejs", { text:`"El amor es paciente, es bondadoso. El amor no es envidioso ni jactancioso ni orgulloso." - 1 Corintios 13:4`, extraClass: "quote8" }) %>
  <%-include("../ui/cards/quote.ejs", { text:`"Busquen primero el reino de Dios y su justicia, y todas estas cosas les serán añadidas." - Mateo 6:33`, extraClass: "quote9" }) %>
  <%-include("../ui/cards/quote.ejs", { text:`"Confía en el Señor con todo tu corazón y no te apoyes en tu propia prudencia." - Proverbios 3:5`, extraClass: "quote10" }) %>
</article>
</main>